
body { 
  position: relative;
  background: #000;
  font-family: 'Amatic SC', cursive;
}
.background {
  position: fixed;
  left: -0px;
  right: 0px;
  z-index: -1;
  background: #000 url(../thumbnails/bg.jpg) no-repeat top;

  display: block;
  height: 100vh;
}
section {
  min-height: 100vh;
  padding: 100px 0 0 0;
}

section:first-of-type {
  padding-top: 0px;
}

#jumpDown {
  display: block;
}
#down {
  width: 120px;
  height: 70px;
  fill: #fff;
}
section#galaxy-holder {
  margin: 0;
  overflow: hidden;
  text-align: center;
}
#container {
  border: none;
  width: 90%;
  height: 100vh;
}

section#starlist {
}

#title h1 {
  text-align: center;
  margin-top: 450px;
  color: #fff;
  font-size: 72px;
  letter-spacing: 0.5rem
}
ul.thumbnail-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul.thumbnail-list > li {
  background: white;
  width: 340px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 15px;
  font-weight: 500;
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
ul.thumbnail-list > li > a:hover{
  text-decoration: none;
}
.thumbnails {
  width: 100%;
  height: 100%;
}
.thumbnails:hover {
  filter: blur(4px);
}
.text-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  opacity: 0;

  font-size: 42px;
  line-height: 162px;
  text-align: center;
  padding: 16px;
  color: #fff;
  background: rgba(0, 0, 0, .6);

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.text-title:hover {
  opacity: 1;
}

#name {
  color: #fff;
  font-size: 48px;
  text-align: center;
}